.title-plants {
  padding-left: 600px;
  font-size: 44px;
}

#container:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}

#container {
  padding-top: 10px;
  padding-bottom: 40px;
  width: 90%;
  margin: 0 auto;
}

.container-div {
  width: 22%;
  height: auto;
  -webkit-transition: -webkit-transform 1s;
  display: block;
  float: left;
  margin: 0px 3% 0 0;
  padding: 0;
}
#container div img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px #bbb9b9;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 20px;
}

#container div img ~ span {
  width: 100%;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 1s;
  margin: 0;
  padding: 2px 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px #666;
  text-align: center;
}

#container div img:hover + span {
  opacity: 1;
}

#container:hover div {
  opacity: 0.2;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

#container:hover div:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (min-width: 1600px) {
  #container div {
    width: 15%;
  }
}

.learn-more {
    height: 50px;
    width: 220px;
    background-color: #F2F2F2;
    border: 1px solid #878787;
    margin-left: 600px;
    border-radius: 10px;
}
